<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
	<tbody>
		<tr>
			<td style="line-height: 1.5em; padding-bottom: 1em; padding-top: 1em;">
				<div style="padding-bottom: 1em;">
					Hi [$TO_NAME$],
				</div>

				<div>
					[$MEETING_USER_NAME$] invites you to join this meeting.
				</div>
			</td>
		</tr>
		<tr>
			<td style="line-height: 1.5em; padding-bottom: 1em; padding-top: 1em;">
				<div>
					<a href="[$MEETING_URL$]" style="text-decoration: none;">[$MEETING_NAME$]</a>
				</div>

				<div>
					[$MEETING_DATE$]
				</div>

				<div>
					[$MEETING_TIME$] [$MEETING_TIME_ZONE$]
				</div>

				<div>
					[$MEETING_JOIN_BY_PHONE_ACCESS_CODE_LABEL$]: [$MEETING_JOIN_BY_PHONE_ACCESS_CODE$]
				</div>
			</td>
		</tr>
		<tr>
			<td style="line-height: 1.5em; padding-bottom: 1em; padding-top: 1em;">
				[$MEETING_DESCRIPTION$]
			</td>
		</tr>
		<tr>
			<td style="line-height: 1.5em; padding-bottom: 1em; padding-top: 1em;">
				<div>
					To Join the Meeting:
				</div>

				<ol>
					<li>
						Go to <a href="[$MEETING_URL$]" style="text-decoration: none;">[$MEETING_URL$]</a>
					</li>
					<li>
						Click "Join Meeting."
					</li>
					<li>
						If you are asked for a password enter: [$MEETING_PASSWORD$]
					</li>
				</ol>
			</td>
		</tr>
	</tbody>
</table>